// _base.scss
// ==============
body {
  background: lighten($beige, 10%);
  font-family: $bodyFont;
  font-size: 1.1em;
}
 
#content {
  color: $desatBlue;
  font-size: 2em;
}
 
.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
 
#{headings()} {
  font-family: $headFont;
  font-size: 3em;
}